

  <div class="container">
    <div class="search-input" style="position: relative; top: 40px;">
     
      <form #form="ngForm" (submit)="logForm(form.value)">
        <label>
          <input type="text" name="searchBox" required ngModel #searchValue>
          <span *ngIf="searchValue.value.length > 0" (click)="resetForm(form)">&#x2715;</span>
          <ul>
            <li s>S</li>
            <li e>e</li>
            <li a>a</li>
            <li r>r</li>
            <li c>c</li>
            <li h>h</li>
          </ul>
        </label>
        <button class="Go-btn" type="submit">GO</button>

      </form>
      
</div>
    

<div class="content" *ngIf="true">
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <div fxFlex="25%" *ngFor="let location of locationList">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{location.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/images/weather1.jpeg">
          <mat-card-content>
            <p>
              City(Lat, Lng): {{location.latt_long}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openDetails(location.woeid)">DETAILS</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
</div>

<mat-spinner color="#b68200" *ngIf="showSpinner"></mat-spinner>

<div class="page-footer" style="position: fixed;
bottom: 0px;
right: 0px;
width: 100px;
height: 100px;">
  <div class="container">
    <div>Made with <span>❤</span> by <a href="https://stackoverflow.com/users/7025699/apoorva-chikara?tab=profile" target="_blank">Apoorva Chikara</a>
    </div>
  </div>
</div>

